################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PollyTest/bin/Debug/net5.0
/PollyTest/obj
/PollyTest.v3.ncrunchsolution.user
